.navbar {
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    background-color: rgba(0, 0, 0, 0.875);
    box-shadow: 0px 5px 10px black;
    height: 4rem;
    color: azure;
    text-align: center;
    gap: 2vw;
}

.navbar li {
    font-family: 'Caveat', cursive;
    font-size: 18px;
    line-height: 4rem;
    width: 5.5rem;
    transition: all 0.5s;

}

.navbar li:hover {
    box-shadow: inset 8px 8px rgba(52, 6, 6, 0.747), inset -6px -6px rgba(40, 5, 5, 0.586);
    background-color: rgba(180, 24, 24, 0.762);
    cursor: pointer;
    transform: scale(0.9);
}